@model List<Ignite.Areas.Admin.ViewModels.ImageViewModel>

@{
    int courseId = ViewBag.courseId;
}

<h2>UploadSlides</h2>

<div class="jumbotron">
    @using (Html.BeginForm("UploadSlidesToDb", "Admin", new { courseId = courseId }, FormMethod.Post,
                                                                        new { @class = "dropzone", id = "myId" }))
    {
    }

    <button id="submit-all">
        Upload Files
    </button>
</div>
@section scripts {
    @Scripts.Render("~/bundles/dropzonescripts");

    <script>
        $(document).ready(function () {
            Dropzone.autoDiscover = false;

            $("#myId").dropzone({
                acceptedFiles: ".png,.jpg,.jpeg",
                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 10,
                addRemoveLinks: true,
                removedfile: function (file) {
                    let ref;
                    return (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;
                },

                init: function () {
                    myDropzone = this;

                    myDropzone.on("success", (function(_this) {
                        return function(file) {
                            if (_this.getQueuedFiles().length === 0) {
                                setTimeout(function(){window.location.href='@Url.Action("DoneUploading")'}, 200);
                             }
                         };
                    })(myDropzone));
                },
            });

            let submitButton = document.querySelector("#submit-all")
            submitButton.addEventListener("click", function () {
                myDropzone.processQueue();
            });
        });
        //Dropzone.autoDiscover = false;
        //$("div#dropzonePreview").dropzone(
        //    {
        //        url: "",
        //        paramName: "images",
        //        autoProcessQueue: true,
        //        addRemoveLinks: true,
        //        //clickable: "#dropzonePreview",
        //        uploadMultiple: true,
        //       // acceptedFiles: "image/*",
        //        maxFiles: 100,
        //        parallelUploads: 10,
        //        dictInvalidFileType: "Please upload an image",
        //        dictFileTooBig: "Billedet er for stort",
        //        success: function (file, response) {
        //            $('#ImageIds').val($('#ImageIds').val() + "," + response.Ids);
        //            done();
        //        }
        //    });

        //var theDropzone = $("dropzoneForm").dropzone({ url: "~/admin/admin/uploadslides" });
        //Dropzone.options.theDropzone = {
        //      init: function () {
        //          this.on("addedfile", function (file) { alert("Added file."); });
        //      },
        //      paramName: "file", // The name that will be used to transfer the file
        //      maxFilesize: 2, // MB
        //      accept: function (file, done) {
        //        if (file.name == "azis.jpg") {
        //            done("Naha, you don't.");
        //        }
        //        else { done(); }
        //       },
        //       uploadMultiple: true,
        //};
    </script>
}

