body {
    background-color: darkred;
}

#test-form {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

#test-btn{
    padding: 8px 20px;
    background-color: #029fff;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    color: #ffffff;
    font-size: 20px;
}

    #test-btn:hover {
        background-color: darkred;
    }

#btn-test-wrap{
    margin-top: 15px;
    display:block;
    width: 100%;
    text-align: center;
}

#test-question{
    padding: 5px 10px 5px 50px;
    margin-bottom: 20px;
}

#validation-test{
    color: #ffffff;
}

#validation-test-span > span {
    display: block;
    border-radius: 5px;
    background-color: #ff0000;
    width: 60%;
    height: 30px;
    line-height: 28px;
    padding-left: 10px;
}

#test-heading{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#test-form  hr {
    border-color: #000000;
    width: 85%;
}


/*________ RESULT POP-UP ___________*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
