@model Ignite.Areas.Admin.ViewModels.ListAssignmentViewModel

@{
    ViewBag.Title = "Assign Course";
}
<div>
    <h2>Assign Course</h2>
</div>
    
@foreach (var course in Model.Courses)
{ 
    <div id="list-courses">
        @course.Name
        @Html.ActionLink("Assign", "AssignTo", new { courseId = course.Id })

    </div>
}