
@{
    ViewBag.Title = "ManageAssignments";
}

<h2>Manage Assignments</h2>

@Html.ActionLink("Create Assignment", "AssignCourse", "Assignment")
<br />
@Html.ActionLink("Remove Assignment", "RemoveAssignment", "Assignment")
